<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <multipart-config>
        <max-file-size>5242880</max-file-size>
        <max-request-size>10485760</max-request-size>
        <file-size-threshold>1024</file-size-threshold>
    </multipart-config>
</servlet>
    <multipart-config>
        <max-file-size>10485760</max-file-size>
        <max-request-size>10485760</max-request-size>
    </multipart-config>
    <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>DownloadFile</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
</servlet-mapping>
</web-app>
